export BW_SESSION=$(bw unlock --raw)
export DOCKERHUB_USERNAME=$(bw get username dockerhub-access-token)
export DOCKERHUB_TOKEN=$(bw get password dockerhub-access-token)
#export DOCKER_HOST=unix:///Users/dashaun/.docker/run/docker.sock
#export TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/Users/dashaun/.docker/run/docker.sock
